/* 引入网络字体：Poppins */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 设置字体为网络字体 */
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161626;
}
body::before{
    /* 注意！对于伪元素而言，如果不添加content属性，是不会显示的 */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2193b0, #6dd5ed);
    /* 将元素切成圆形，30%表示圆的直径，right 70%表示圆心的位置 */
    clip-path: circle(30% at right 70%);
}
body::after{
    /* 注意！对于伪元素而言，如果不添加content属性，是不会显示的 */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ee9ca7, #ffdde1);
    /* 将元素切成圆形，10%表示圆的直径，10% 10%表示圆心的位置 */
    clip-path: circle(20% at 10% 10%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* z-index只会对元素本身有效，对其子元素无效，且只对设置了position为relative，absolute和fixed的元素有效 */
    z-index: 1;
}
.container .card{
    position: relative;
    width: 30vw;
    height: 40vh;
    background-color: rgba(255,255,255,0.1);
    margin: 30px;
    border-radius: 15px;
    /* 阴影 */
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    /* 溢出隐藏 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    /* 背景模糊，blur中的值越大则越模糊 */
    /* 该属性不适用于FireFox */
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
    /* 默认下移+隐藏 */
    /* 这里的机制实际是定义转换，translateY指仅针对Y轴的转换，skew可以实现对X轴和Y轴同时转换角度
    从而实现图片的扭曲，rotate可以实现图片的旋转*/
    transform: translateY(100px);
    /* 设置透明度 */
    opacity: 0;
    /* 设置动画 */
    transition: 2s;
}
.container .card:hover .content{
    /* 鼠标移入时，上移+显示 */
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2{
    position: absolute;
    top: 1px;
    right: 30px;
    font-size: 128px;
    color: rgba(255,255,255,0.15);
}
.container .card .content h3{
    font-size: 28px;
    color: #fff;
}
.container .card .content p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin: 10px 0 15px 0;
}
.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}